body
{
	font: 1em 'arial', arial, Verdana, Geneva, sans-serif;
	padding: 0;
	text-align:center;
}

a:link {color:grey;}
a:visited {color:grey;}
a:hover {color:red;}

div
{
	/*margin: 6px;
	box-shadow: 0px 5px 8px #888880;*/
}

h2{
	padding: 20px;
}

.textcam{
	left:0px;
	bottom:10px;
	position:bottom;
	text-align:justify;
	clear:left;
}
.headerdoc{
	position:relative;
}
.contenedor{
	text-align:center;
	background-color: antiquewhite;
	padding-bottom: 15px;
	border: 0px;
}
.tittlebtn {
	background-color:#e88b12;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:30px 52px;
	text-decoration:none;
    margin-bottom:-5px;
    margin-left:1px;
    width: 20%;
    transition-duration:0.3s;
    transition-property:transform;
}

.tittlebtn:hover {
    transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.tittlebtn:active {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
}
.camaraContenedor
{
	display:inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left:5px;
	background-color:rgb(50, 50, 50);
    color:rgb(255,255,255);
}
.buttonContenedor
{
	position:relative;
	left:0px;
	bottom:0px;
	box-shadow: initial;
}

.rotated {
    transform: rotate(180deg);
	-webkit-transform:rotateX(180deg);
}

.tittle
{
	position:relative;
	text-align:center;
	font-weight: bold;
	border-bottom: 9px solid #D6D0C1;
	padding-bottom:1px;
	margin: 2px 0;
	width: 100%;
	font-size:2em;
	background-color:#D6D0C1;
	cursor:pointer;
	left:0px;
	bottom:0px;
}

.favoritas {
	text-align:center;
	background-color:#D6D0C1;
	paddig: 10px;
	
}
#titCamaras{
	margin-bottom: 0px;
}
#zonaCamaras{
	background-color: #D6D0C1;
	margin-top:0px;
	
}
#countries{
	background-color: #white;
	margin:0px;
	color:black;
	display:inline-block;
	padding:0px;
	width: 100%;
}
.btnCountries{
	text-decoration:none;
	margin:0px;
	width: 40%;
	display:inline-block; 
	padding:15px;
	cursor: pointer;
	border-bottom: 10px solid white;
	
}
.btnCountries:hover{
    border-bottom: 10px solid burlywood;
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	color:burlywood;
}
.ctrSelected{
	text-decoration:none;
	margin:0px;
	width: 40%;
	display:inline-block; 
	padding:15px;
	cursor: pointer;
	border-bottom: 10px solid #e88b12;
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	color:#e88b12;
}

@media screen and (max-width: 480px){
.tittlebtn {  
  width: 55%;  
 }  
}

@media screen and (max-device-width: 640px) and (orientation: landscape){
.camaraContenedor{
	-webkit-transform:scale(0.73,0.73);
	transform: scale(0.80,0.80);
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
.camaraContenedor{
	-webkit-transform:scale(0.73,0.73);
	transform: scale(0.80,0.80);
	margin-bottom: -20px;
	margin-left: -20px;		
	margin-right: -20px;
	margin-top: -20px;
}
}

